mixin ddGroup()
	+b.dd-group.dd-group-js
		if block
			block
		else
			+ddGroupItem('вопрос1', 'active')
			+ddGroupItem('вопрос2')
			+ddGroupItem('вопрос3')

mixin ddGroupItem(txt, activeClasses='')
	+e.item(class=activeClasses)
		+e.head.dd-head-js=txt
		+e.content.dd-content-js(class=activeClasses)
			if block
				block
			else
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.
